h1 {
    font-size: 100px;
    color: black;
}



svg {
    width: 100%;
    display: block;
}


// #am1-bg-outline,
// #am2-bg-outline,
// #am3-bg-outline,
// #am4-bg-outline,
// #am5-bg-outline,
// #am6-bg-outline,
// #am6-bg-outline {
//    transition: fill .5s ease;
// }

// #module1:hover #am1-bg-outline,
// #module2:hover #am2-bg-outline {
//    fill: $module-outline;
// }

#am1-switch-1,
#am1-switch-2,
#am1-switch-3,
#am2-switch-1,
#am2-switch-2,
#am3-radar-light,
#am3-switch-1,
#am4-switch-1,
#am4-switch-2,
#am4-siwtch-3,
#am5-switch-3,
#am5-switch-4,
#am5-switch-1,
#am5-switch-2,
#am6-switch-1,
#am6-switch-2,
#am7-trigger-1,
#am7-trigger-2 {
   cursor: pointer;
}

 

