.module1-Container {
   background: white;
   opacity: .5;
   z-index: 100;
}

.drop-shadow {
   -webkit-filter: drop-shadow(10px 10px 14px rgba(50,100,200,0.8));
   filter: drop-shadow(10px 10px 14px rgba(50,100,200,0.8));
}

/* #am4-graph-1-start, */
#am4-graph-1-mid,
#am4-graph-1-end,
#am4-graph-1-error,
#am4-graph-1-error-2,
#am4-graph-1-rest {
   visibility: hidden
}

#am4-graph-1-start {
   z-index: 40;
   opacity: 1;
   visibility: visible;
   display: block;
}

/* #am4-graph-2-1, 
#am4-graph-2-2,
#am4-graph-2-3{
   visibility: hidden
} */