.module1-Container {
   background: white;
   opacity: .5;
   z-index: 100;
}

.drop-shadow {
   -webkit-filter: drop-shadow(10px 10px 14px rgba(50,100,200,0.8));
   filter: drop-shadow(10px 10px 14px rgba(50,100,200,0.8));
}

#am4-graph-1-mid,
#am4-graph-1-end,
#am4-graph-1-error,
#am4-graph-1-error-2,
#am4-graph-1-rest {
   visibility: hidden
}

#am4-graph-1-start {
   z-index: 40;
   opacity: 1;
   visibility: visible;
   display: block;
}

.super-container {
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   background: rgb(31, 31, 31);
}

.app-container {
   background: rgb(65, 65, 65);
   margin: 0 auto;
   /* width: 800px;
   height: 300px; */
   display: grid;
   grid-template-columns: 210px 153px 57px 210px 330px;
   grid-template-rows: 150px 145px 173px;
   /* border: 1px solid red; */
}

#module1 {
   width: 100%;
   /* height: 100%; */
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
}

#module2 {
   grid-row-start: 1;
   grid-column-start: 2;
   grid-column-end: 4;
}

#module3 {
   grid-row-start: 1;
   grid-column-start: 4;
   grid-column-end: 5;
   /* border: 1px solid blue; */
}

#module4 {
   grid-row-start: 2;
   grid-column-start: 1;
   grid-column-end: 2;
}

#module5 {
   grid-column-start: 2;
   grid-column-end: 5;
   /* grid-row-start: 2; */
   grid-row-end: 3;
   /* border: 1px solid red; */
}

#module6 {
   display: flex;
   align-self: center;
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 5;
}

#module7 {
   display: flex;
   align-self: center;
   grid-column-start: 3;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 4;
   height: 120px;
   
}

#module8 {
   grid-column-start: 5;
   grid-row-start: 1;
}



/* #am4-graph-2-1, 
#am4-graph-2-2,
#am4-graph-2-3{
   visibility: hidden
} */